.foot {
    background-color: #a0a0a0;
}

h1 {
    text-align: center;
}

textarea {
    width: 80%;
    height: 10em;
}

.descr {
    background-color: #f0ffff;
    border: 1px dotted blue;
}

input {
    height: 1.3em;
    border: 1px dotted gray;
    font-size: 1em;
}

a.menu {
    height: 1.3em;
    border: 1px dotted gray;
    background-color: #f0f0f0;
    display: inline-block;
}

input.num {
    width: 5em;
}

.error {
    color: red;
}

.status {
    display: inline-block;
    background-color: #f0f0f0;
    color: green;
    border: 1px dotted gray;
    font-size: 0.7em;
}
