body {
    background-color: #f0f0f0;
    color: black;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h1 {
    text-align: center;
    color: #900000;
}

textarea {
    width: 80%;
    height: 10em;
}

.narrowed {
    margin-left: 7%;
    margin-right: 7%;
}

.descr {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px dotted blue;
    background-color: white;
}
.note {
    background-color: white;
}
.post {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px dotted blue;
}

.time {
    color: blue;
}

.comment {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px dotted blue;
    background-color: white;
}

pre {
    border-left: 10px solid gray;
    padding-left: 10px;
}

input {
    height: 1.2em;
}

a.menu {
    border: 2px solid #900000;
    color: #900000;
    font-weight: bold;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
}
a.menu:hover {
    background-color: #900000;
    color: white;
}

input.num {
    width: 5em;
}

.error {
    color: red;
}

.status {
    display: inline-block;
    background-color: blue;
    color: white;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.solution {
    color: green;
}

pre.solution {
    border: 1px solid green;
    color: black;
}

.aux {
    color: gray;
    font-size: 0.9em;
}

