/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

textarea {
    height: 8em;
}

.wide {
    display: block;
    width: 80%;
}

.status {
    background-color: #6688aa;
    border-radius: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #FFFFFF;
    font-weight: bold;
}

.issue-tag {
    background-color: #bdf;
    border-radius: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #00f;
}

.solution {
    background-color: #66aa88;
    border-radius: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #FFFFFF;
    font-weight: bold;
}

.error {
    border: solid red 1px;
    color: red;
}

.quote {
    border-left: solid 0.5em #6688aa;
}

