<html>
<head>
    <title>[% HTML(title) %] - Potracheno</title>
</head>
<body>
<h1>[% HTML(title) %]</h1>
<form method="GET" action="/search">
    <input name="q" value="[% HTML(q) %]">
    <input type="submit" value="Search">
</form><br>
